<router-outlet>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Produtos</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-produto">
      <h5 class="card-header">Lista de carros</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Codigo do produto</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Valor do Produto</th>
                <th scope="col">Estoque</th>
                <th scope="col">Cidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos">
                <td>{{produto.codProduto}}</td>
                <td>{{produto.nomeProduto}}</td>
                <td>{{produto.valorProduto}}</td>
                <td>{{produto.estoque}}</td>
                <td>{{produto.cidade}}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editProduto(produto)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteProduto(produto)">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  
    <div class="card add-produto">
        <h5 class="card-header">Adicionar / Atualizar um Produto</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveProduto(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="model">Nome do produto</label>
                  <input type="text" [(ngModel)]="produto.nomeProduto" id="nomeProduto" name="nomeProduto" #nomeProduto="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && model.invalid }" placeholder="Digite o produto">
                  <div *ngIf="f.submitted && model.invalid" class="invalid-feedback">
                      <div *ngIf="model.errors.required">Nome do produto é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="color">Valor do produto</label>
                  <input type="text" [(ngModel)]="produto.valorProduto" id="valorProduto" name="valorProduto" #valorProduto="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" placeholder="Digite o valor do produto">
                  <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                      <div *ngIf="color.errors.required">O valor é obrigatória</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="price">Estoque</label>
                  <input type="number" [(ngModel)]="produto.cidade" id="cidade" name="cidade" #cidade="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite a cidade">
                  <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                      <div *ngIf="price.errors.required">A cidade é obrigatório</div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-add-produto">Salvar</button>
              <button type="reset" class="btn btn-secondary btn-add-produto" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
      </div>
  </div>
</router-outlet>